<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Designer Starter Pack</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="/assets/favicon.svg" />
  </head>

  <header>
    <div class="logo">
      <a href="/"><img src="/assets/logo.svg" alt="Designer Starter Pack" /></a>
    </div>
    <nav>
      <a href="/about">About</a>
      <a href="/logout">Log out</a>
    </nav>
  </header>

  <script src="background.js"></script>
</html>
