<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Designer Starter Pack</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <header>
    <h1>Designer Starter Pack</h1>
  </header>
</html>
