<body>
  <%- include('./partials/header') -%>
  <main class="container">
    <div class="about">
      <br>
      <p>
        <em>Designer Starter Pack</em> is a curated list of Figma skills by
        <a href="https://samantha.design">Samantha Lee</a> of
        <a href="https://fundingsocieties.com/">Funding Societies</a>.
      <br><br>
        This list exists to better organize the list of skills I've come to know, like, and/or find interesting while working in product design. 

        <div class="divider-line"></div>

        <form action="/contribute">
          <button class="primary-btn">Submit a Resource</button>
        </form>

        <h2>Contact</h2>
        <p>If you have any additional skills that should be included in the list or see any errors, please send me an email at &#60;hi[at]samantha.design&#62;</p>

        <div class="divider-line"></div>

        <h2>Colophone</h2>
        <p>Fonts in use: <a href="https://brailleinstitute.org/freefont">Atkinson Hyperlegible</a> designed by Braille Institute to increase legibility and readability for people with low vision.</p>
      </p>
    </div>

    
  </main>
</body>

