<body>
  <%- include('./partials/header-login') -%>

  <main class="container">
    <section class="hero">
      <img src="" alt="meme" />
    </section>

    <%- include('./partials/modal') -%>
  </main>
</body>
