<body>
  <%- include('./partials/header-login') -%>

  <main class="container">
    <section class="hero">
      <img
        src="https://media3.giphy.com/media/BMWmxGNTJIHxvuymMs/giphy.gif?cid=ecf05e47pt7gjhoha5czlp48ypek0wy1bvtq4ujs1rrg2d6a&rid=giphy.gif&ct=g"
        alt="meme"
      />
    </section>

    <%- include('./partials/modal-login') -%>
  </main>
</body>
