@font-face {
  font-family: "Atkinson Bold";
  src: url("../assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2");
}

@font-face {
  font-family: "Atkinson Regular";
  src: url("../assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: background-color 0.7s;
  overflow-x: hidden;
}

html {
  --primary: #000;
  --secondary: #000;
  --accent: #000;

  --light-bg: #fff;
  --med-bg: #fff;

  --dark-neutral: #000;
  --mid-neutral: #ccc;
  --light-neutral: #ccc;
  --white: #fff;

  --display: "Atkinson Bold";
  --default: "Atkinson Regular";

  /* Spacing & font size scale */
  --d-xxs: 8px;
  --m-xxs: 4px;

  --d-xs: 14px;
  --m-xs: 8px;

  --d-s: 16px;
  --m-s: 12px;

  --d-m: 24px;
  --m-m: 16px;

  --d-l: 32px;
  --m-l: 24px;

  --d-xl: 48px;
  --m-xl: 32px;

  --d-xxl: 60px;
  --m-xxl: 48px;

  --d-square: 72px;

  /* Animation speeds */
  --x-speed: 13s;
  --y-speed: 7s;
}

/* ===== TYPOGRAPHY ===== */

h1,
h2,
em {
  font-family: var(--display);
  font-style: normal;
}

h2 {
  font-size: var(--d-s);
  margin-bottom: var(--d-xxs);
}

body,
button {
  font-family: var(--default);
  font-size: var(--d-s);
}

input {
  font-family: var(--default);
}

figcaption {
  font-size: var(--d-xs);
  margin-top: var(--d-xxs);
  text-align: center;
}

div.resource-content > h2 {
  font-size: var(--d-s);
  margin-bottom: var(--d-xxs);
}

.gallery-list > li > div.resources > ul > form {
  margin-top: var(--d-s);
}

div.resource-content {
  margin: 0;
  padding: 0;
  font-size: var(--d-xs);
}

@media screen and (max-width: 550px) {
  div.resource-content {
    padding: var(--m-xs);
  }

  div.resource-content,
  div.resource-content form button {
    font-size: var(--m-m);
  }

  div.resource-content li {
    margin: var(--m-xs) 0;
  }

  div.resource-content > h2 {
    font-size: var(--m-l);
    margin-bottom: var(--m-s);
  }
}

/* ===== GLOBAL STYLES ===== */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--dark-neutral);
  text-decoration: none;
  transition: color 0.5s ease;
}

p a,
p a:visited {
  color: var(--primary);
}

p a:hover,
a:hover,
button.nav-btn:hover {
  color: var(--mid-neutral);
}

/* ===== BUTTON STYLES ===== */

button.primary-btn {
  padding: var(--d-xxs);
  width: 100%;
  background-color: var(--dark-neutral);
  color: var(--white);
  transition: all 0.5s ease-in;
  outline: none;
  border: none;
  margin-bottom: var(--d-s);
  text-align: left;
}

button.primary-btn:hover {
  background-color: var(--mid-neutral);
}

button.secondary-btn,
.visible {
  width: 100%;
  padding: 4px;
  font-size: var(--d-xs);
  background-color: var(--white);
  outline: none;
  border: 1.5px solid var(--dark-neutral);
  text-align: center;
  cursor: pointer;
  margin-top: var(--d-xs);
}

button.secondary-btn:hover {
  background-color: var(--light-neutral);
}

@media screen and (max-width: 550px) {
  button.primary-btn {
    padding: var(--m-s);
  }

  button.secondary-btn {
    padding: var(--m-xs);
  }
}

/* Helper class to toggle hidden or visible */
.hidden {
  display: none;
}

button.nav-btn,
.btn-link {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s ease;
}

nav a,
button.nav-btn {
  margin-left: var(--d-xs);
  color: var(--primary);
  font-size: var(--d-s);
}

.btn-link {
  color: var(--accent);
}

/* ===== HEADER ===== */

header {
  padding: var(--d-xs) var(--d-m);
  max-height: var(--d-xxl);
  background-color: inherit;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;

  z-index: 2;
}

header div.logo img {
  z-index: 4;
  width: 70%;
  transition: all 0.4s ease-in-out;
}

header.scrolled div.logo img {
  width: 50%;
}

@media screen and (max-width: 550px) {
  header {
    padding-top: var(--m-xxl);
    height: fit-content;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  header div.logo img,
  header.scrolled div.logo img {
    width: 100%;
    margin-bottom: var(--m-s);
  }
}

header nav a {
  font-size: var(--d-s);
}

h1 {
  font-size: var(--d-l);
  margin-bottom: var(--d-s);
}

/* ===== CONTAINER ===== */

main.container {
  padding: 0 var(--d-m) var(--d-m) var(--d-m);
}

div.about {
  margin-top: var(--d-xl);
  max-width: 350px;
}

.divider-line {
  height: 0.5px;
  background-color: var(--mid-neutral);
  width: 100%;
  margin: var(--d-s) 0;
}

section.hero {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

section.hero img {
  max-height: 250px;
}

@media screen and (max-width: 550px) {
  main.container {
    padding: 0 var(--m-m) var(--m-m) var(--m-m);
  }

  div.about {
    font-size: var(--m-m);
  }
}

/* ===== DASHBOARD GRID LAYOUT ===== */

main.dashboard {
  display: flex;
  flex-direction: column;
}

section.skills-section {
  padding: var(--d-m);
  min-height: calc(100vh - var(--d-xxl));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.gallery-list {
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--d-square));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 16px;
  grid-auto-flow: dense;
  align-items: start;
  justify-content: center;
  padding: var(--d-xs) 0;
}

ul.gallery-list > li > figure {
  height: 100%;
  padding: 0;
  margin: 0;
}

ul.gallery-list > li > figure > img {
  width: var(--d-square);
  object-fit: cover;
}

.muted {
  filter: grayscale(100%);
  opacity: 50%;
}

.not-muted {
  filter: none;
  opacity: 100%;
}

.gallery-list > li {
  position: relative;
}

.gallery-list > li > div.resources {
  visibility: hidden;
  background-color: var(--white);
  color: var(--dark-neutral);
  border: 1.5px solid var(--dark-neutral);
  padding: var(--d-xs);
  width: 200px;
  height: fit-content;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-20%);

  z-index: 5;
}

.gallery-list > li:hover > div.resources {
  visibility: visible;
}

@media screen and (max-width: 550px) {
  section.skills-section {
    padding: 0;
  }

  ul.gallery-list {
    width: 100vw;
    padding: var(--m-xs);
  }

  .gallery-list > li {
    position: static;
  }

  .gallery-list > li > div.resources {
    width: 90vw;
    position: fixed;
    top: 70vh;
    transform: translateX(-50%);
  }
}

button.uncomplete {
  display: none;
}

/* ===== MODAL ===== */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--white);
  margin: 12% auto; /* 15% from the top and centered */
  padding: var(--d-m);
  border: 2px solid var(--dark-neutral);
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .modal-content {
    margin: 100% auto;
    transform: translateY(-50%);
  }

  .form-div input {
    font-size: var(--m-m);
    margin-bottom: var(--m-m);
  }
}

/* Increase hit-area */
.close-btn {
  position: absolute;
  top: var(--d-xxs);
  right: var(--d-xs);
  padding: var(--d-xxs) var(--d-xs);
  cursor: pointer;
  color: var(--mid-neutral);
  transition: color 0.5s ease;
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--dark-neutral);
  text-decoration: none;
}

/* ======= FORM ======= */

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

h1.modal-header {
  margin: 0 0 var(--d-l) 0;
}

input,
textarea {
  border: 2px solid var(--dark-neutral);
  background-color: var(--white);
  color: var(--dark-neutral);
  padding: var(--d-xxs);
  margin-bottom: var(--d-xs);
  width: 100%;
  outline: var(--accent);
}

textarea {
  resize: none;
}

.form-div button {
  margin-top: var(--d-xs);
  text-align: center;
}

@media screen and (max-width: 550px) {
  .about {
    padding: var(--m-s);
  }

  .form-div {
    width: 100%;
  }

  .form-div button {
    margin-top: var(--m-m);
  }
}
/* ===== BADGES ===== */

div.badges-div {
  max-height: calc(100vh - 62px);
  overflow: none;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
}

div.badge > img {
  max-width: 15vw;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

@keyframes bounce_x {
  100% {
    transform: translateX(calc(100vw - 800px));
  }
}

@keyframes bounce_y {
  100% {
    transform: translateY(100vh);
  }
}

@keyframes spin {
  0% {
    transform: translate(0, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0, 100%) rotate(360deg);
  }
}

.bounce_x {
  animation: bounce_x var(--x-speed) linear infinite alternate;
}
.bounce_y {
  animation: bounce_y var(--y-speed) linear infinite alternate;
}

.rotate {
  animation: rotate 3s infinite alternate cubic-bezier(1, 0, 0, 1);
}

.spin {
  animation: spin 30s linear infinite;
}
