@font-face {
  font-family: "Atkinson Bold";
  src: url("../assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2");
}

@font-face {
  font-family: "Atkinson Regular";
  src: url("../assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --primary: #000;
  --secondary: #000;
  --accent: #000;

  --light-bg: #fff;
  --med-bg: #fff;

  --dark-neutral: #000;
  --mid-neutral: #ccc;
  --light-neutral: #ccc;
  --white: #fff;

  --display: "Atkinson Bold";
  --default: "Atkinson Regular";

  /* Spacing & font size scale */
  --d-xxs: 8px;
  --m-xxs: 4px;

  --d-xs: 12px;
  --m-xs: 8px;

  --d-s: 16px;
  --m-s: 12px;

  --d-m: 24px;
  --m-m: 16px;

  --d-l: 32px;
  --m-l: 24px;

  --d-xl: 48px;
  --m-xl: 32px;

  --d-xxl: 60px;
  --m-xxl: 48px;
}

/* ===== TYPOGRAPHY ===== */

h1,
h2,
em {
  font-family: var(--display);
  font-style: normal;
}

h2 {
  font-size: var(--d-s);
  margin-bottom: var(--d-xxs);
}

body,
button {
  font-family: var(--default);
  font-size: var(--d-s);
}

input {
  font-family: var(--default);
}

figcaption {
  font-size: var(--d-xs);
  margin-top: var(--d-xxs);
  text-align: center;
}

.gallery-list > li > div.resources > h2 {
  font-size: var(--d-s);
  margin-bottom: var(--d-xxs);
}

.gallery-list > li > div.resources > ul > form {
  margin-top: var(--d-s);
}

div.resource-content {
  margin: 0;
  padding: 0;
  font-size: var(--d-xs);
}

/* ===== GLOBAL STYLES ===== */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--dark-neutral);
  text-decoration: none;
  transition: color 0.5s ease;
}

p a,
p a:visited {
  color: var(--primary);
}

p a:hover,
a:hover,
button.nav-btn:hover {
  color: var(--mid-neutral);
}

/* ===== BUTTON STYLES ===== */

button.primary-btn {
  padding: var(--d-xxs);
  width: 100%;
  background-color: var(--dark-neutral);
  color: var(--white);
  transition: all 0.5s ease-in;
  outline: none;
  border: none;
  margin-bottom: var(--d-s);
  text-align: left;
}

button.primary-btn:hover {
  background-color: var(--mid-neutral);
}

button.secondary-btn,
.visible {
  width: 100%;
  padding: 4px;
  font-size: var(--d-xs);
  background-color: var(--white);
  outline: none;
  border: 1.5px solid var(--dark-neutral);
  text-align: center;
  cursor: pointer;
  margin-top: var(--d-xs);
}

button.secondary-btn:hover {
  background-color: var(--light-neutral);
}

/* Helper class to toggle hidden or visible */
.hidden {
  display: none;
}

button.nav-btn,
.btn-link {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s ease;
}

nav a,
button.nav-btn {
  margin-left: var(--d-xs);
  color: var(--primary);
  font-size: var(--d-s);
}

.btn-link {
  color: var(--accent);
}

/* ===== HEADER ===== */

header {
  padding: var(--d-xs) var(--d-m);
  background-color: var(--light-bg);
  display: flex;
  justify-content: space-between;
}

header h1,
h1 {
  font-size: var(--d-l);
}

/* ===== CONTAINER ===== */

main.container {
  padding: 0 var(--d-m) var(--d-m) var(--d-m);
}

div.about {
  width: 40vw;
}

.divider-line {
  height: 0.5px;
  background-color: var(--mid-neutral);
  width: 100%;
  margin: var(--d-s) 0;
}

section.hero {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

section.hero img {
  max-height: 250px;
}

/* ===== DASHBOARD GRID LAYOUT ===== */

main.gallery {
  padding: var(--d-m);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--d-xxl);
}

.gallery > .section {
  display: flex;
  flex-direction: column;
}

.full-width-category {
  grid-column: span 2;
}

.gallery > .section > .gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--d-xxl));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 16px;
  grid-auto-flow: dense;
  align-items: start;
  padding: var(--d-xs) 0;
}

@media only screen and (max-width: 500px) {
  main.gallery > .section {
    grid-column: span 2;
  }
}

.gallery > .section > .gallery-list > li > figure {
  height: 100%;
  padding: 0;
  margin: 0;
}

.gallery > .section > .gallery-list > li > figure > img {
  width: 60px;
  object-fit: cover;
}

.muted {
  filter: grayscale(100%);
  opacity: 50%;
}

.not-muted {
  filter: none;
  opacity: 100%;
}

.category-badge {
  width: 100%;
  height: 100%;
  position: relative;
}

.category-badge .default {
  width: 100%;
  height: 100%;
}

.category-badge .overlay {
  width: 100%;
  height: 100%;
  display: none;

  position: absolute;
  top: 0;
  left: 0;
}

.category-badge:hover .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-list > li {
  position: relative;
}

.gallery-list > li > div.resources {
  visibility: hidden;
  background-color: var(--white);
  color: var(--dark-neutral);
  border: 1.5px solid var(--dark-neutral);
  padding: var(--d-xs);
  width: 200px;
  height: fit-content;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-20%);

  z-index: 2;
}

.gallery-list > li:hover > div.resources {
  visibility: visible;
}

.skill-completed-badge {
  position: absolute;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  padding: 0.2em;
  top: -10px;
  right: -10px;
}

button.uncomplete {
  display: none;
}

/* ===== MODAL ===== */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--white);
  margin: 12% auto; /* 15% from the top and centered */
  padding: var(--d-m);
  border: 2px solid var(--dark-neutral);
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Increase hit-area */
.close-btn {
  position: absolute;
  top: var(--d-xxs);
  right: var(--d-xs);
  padding: var(--d-xxs) var(--d-xs);
  cursor: pointer;
  color: var(--mid-neutral);
  transition: color 0.5s ease;
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--dark-neutral);
  text-decoration: none;
}

/* ======= FORM ======= */

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

h1.modal-header {
  margin: 0 0 var(--d-l) 0;
}

input {
  border: 2px solid var(--dark-neutral);
  background-color: var(--white);
  color: var(--dark-neutral);
  padding: var(--d-xxs);
  margin-bottom: var(--d-xs);
  width: 100%;
  outline: var(--accent);
}

.form-div button {
  margin-top: var(--d-xs);
  text-align: center;
}
